%body
  .grid-frame
    #sidebar.medium-grid-block.collapse.medium-3.large-3.vertical{:position => "left", "zf-panel" => ""}
      .grid-content.collapse.shrink.hide-for-medium
        %a.secondary.button.expand{:href => "", "zf-close" => ""} Close
      .grid-content.collapse.shrink
        = image_tag("Dialect-Chat.png")
      .grid-content
        %section.block-list
          %header Rooms
          %ul
            - @rooms.each do |room|
              %li
                = link_to room.name, messages_path(room.id)
      .grid-content.collapse.shrink.avatar-section
        = image_tag(current_user.dialect.icon_path, size: "30x30")
        = current_user.email
    .grid-block.collapse.medium-9.large-9.vertical
      #header.shrink.collapse.grid-content
        %ul.menu-bar.primary
          %li.hide-for-medium
            %a{:href => "#", "zf-open" => "sidebar"} Menu
          %li
            = link_to "logout", sign_out_path, method: :delete
      .grid-block
        .grid-block.small-12.medium-9.vertical
          .grid-content.Messages
            - @messages.each do |message|
              %h4
                = image_tag(message.user.dialect.icon_path, size: "30x30")
                = message.user.email
              %p 
                = message.body
              %hr/
          = form_for @message do |form|
            .message-input.grid-content.collapse.shrink
              %span.inline-label
                = form.text_field :body
                = form.submit "Send", data: { disable_with: false }, class: "button"
        .grid-content.medium-3.show-for-medium.message-side-bar
          %section.block-list
            %header Currently Active In This Room
            %ul
              %li
                %a{:href => "#"} Cady Heron
              %li
                %a{:href => "#"} Kevin Gnapoor
              %li
                %a{:href => "#"} Trang Pak
              %li
                %a{:href => "#"} Coach Carr
              %li
                %a{:href => "#"} Regina George