%body
  .grid-frame
    #sidebar.medium-grid-block.collapse.medium-3.large-3.vertical{:position => "left", "zf-panel" => ""}
      .grid-content.collapse.shrink.hide-for-medium
        %a.secondary.button.expand{:href => "", "zf-close" => ""} Close
      .grid-content.collapse.shrink
        = image_tag("Dialect-Chat.png")
      .grid-content
        %section.block-list
          %header Rooms
          %ul
            - @rooms.each do |room|
              %li
                = link_to room.name, messages_path(room.id)
      .grid-content.collapse.shrink.avatar-section
        = image_tag(current_user.dialect.icon_path, size: "30x30")
        = current_user.email
    .grid-block.collapse.medium-9.large-9.vertical
      #header.shrink.collapse.grid-content
        %ul.menu-bar.primary
          %li.hide-for-medium
            %a{:href => "#", "zf-open" => "sidebar"} Menu
          %li
            = link_to "logout", sign_out_path, method: :delete
      .grid-block
        .grid-block.small-12.medium-9.vertical
          .grid-content
            %h4
              %img{:src => "http://placehold.it/30x30"}/
              Cady Heron
            %p Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.
            %hr/
          .message-input.grid-content.collapse.shrink
            %span.inline-label
              %input{:placeholder => "Message", :type => "text"}/
              %a.button{:href => "#"} Send
        .grid-content.medium-3.show-for-medium.message-side-bar
          %section.block-list
            %header Currently Active In This Room
            %ul
              %li
                %a{:href => "#"} Cady Heron
              %li
                %a{:href => "#"} Kevin Gnapoor
              %li
                %a{:href => "#"} Trang Pak
              %li
                %a{:href => "#"} Coach Carr
              %li
                %a{:href => "#"} Regina George